<form [formGroup]="spaceForm" (ngSubmit)="saveSpace()">

  <div class="spaced" *ngIf="!data.mode.forNew">
    <div class="f6 light">{{'Shortname' | translate:'Shortname'}}</div>
    {{ data.space.shortname }}
  </div>
  <cr-input *ngIf="data.mode.forNew" placeholder="{{'Shortname' | translate:'Shortname'}}"
    error="Required with no spaces">
    <input type="text" class="w100" id="shortname" crinput formControlName="shortname" crpattern="shortname"
      [required]="true" />
    <ng-container helptext>{{'No spacecs allowed' | translate:'NoSpacesAllowed'}}</ng-container>
  </cr-input>


  <div formGroupName="displaynameValue" class="row-spaced spaced">

    @for (lang of supportedLanguages; track $index) {

    <cr-input class="col c-6" placeholder="{{'Display name' | translate:'DisplayName'}}  ({{lang.display}})">
      <input type="text" class="w100" id="displayname{{ lang.name}}" crinput formControlName="{{lang.name}}"
        [required]="true" />
    </cr-input>
    }

  </div>


  <div class="row-spaced" formGroupName="descriptionValue">

    @for (lang of supportedLanguages; track $index) {

    <cr-input class="col c-6" placeholder="{{'Description' | translate:'Description'}} ({{ lang.display }})">
      <input type="text" class="w100" id="description{{ lang.name }}" crinput formControlName="{{lang.name}}"
        [required]="false" />
    </cr-input>
    }


  </div>


  <button class="btn-rev" type="submit">{{'Save' | translate:'Save'}}</button>

</form>
