
<form [formGroup]="spaceForm" novalidate (ngSubmit)="saveSpace()">

  <cr-input placeholder="Display name (en)" class="spaced">
    <input
      type="text"
      class="w100"
      id="displayname"
      crinput
      formControlName="displayname"
      [required]="true"
    />
  </cr-input>
  <cr-input placeholder="Shortname" error="Required with no spaces">
    <input
      type="text"
      class="w100"
      id="shortname"
      crinput
      formControlName="shortname"
      crpattern="shortname"
      [required]="true"
    />
    <ng-container helptext>No spacecs allowed</ng-container>
  </cr-input>
  <cr-input placeholder="Description (en)">
    <input
      type="text"
      class="w100"
      id="description"
      crinput
      formControlName="description"
      [required]="false"
    />
  </cr-input>


<button class="btn-rev" type="submit" >Save</button>

</form>
