<div class="page">
  <div class="container">
      <div class="spaced">
        <button class="btn-rev" (click)="create()">Create new</button>
      </div>

      @let spaces = spaces$ | async;
        <ul class="row-spaced uc-6 rowlist" *ngIf="spaces">
          @for (item of spaces; track $index) {
          <li>
            <div class="card">
              <div>
                <a class="weight-bold" routerLink="/spaces/{{ item.shortname }}">{{ item.displayname }}</a>
                <div class="smaller light">{{ item.shortname }} {{ item.description }}</div>
              </div>
              <div class="tail smaller">
                {{ item.updated | date:'shortDate' }}
              </div>
            </div>
          </li>
          }
        </ul>

  </div>
</div>
