@let resources = resources$ | async;
@if (resources) {


  @if (type === 'folder') {
    <ul class="rowlist">
      <li *ngFor="let record of resources">
        <dm-resource-card [resource]="record" [mode]="{full :true}" (onDelete)="delete($event)"
         (onSelect)="goto($event)"></dm-resource-card>
      </li>
    </ul>
  }

  @if(type === 'content') {
    @let resource = resources[0];

    <pre>
      {{ resource | json}}
    </pre>

    <div *ngIf="resource">
      <h3>{{ resource.displayname }}</h3>
      <div>{{ resource.description }}</div>
      @if(resource.contentType === 'json') {
      <pre>{{ resource.body | json }}</pre>
      }

      @if(resource.contentType === 'html') {
      <div [innerHTML]="resource.body"></div>

      }
    </div>

  }
}
