@let resources = resources$ | async;
@if (resources) {

  @if(type === 'content') {
    @let resource = resources[0];



    <div *ngIf="resource">
      <div class="box spaced txt-r">
        <button class="btn-fake" (click)="ishee = true">RAW</button>
        <button class="btn-fake" (click)="ishee = false">Content</button>
      </div>

      <h3>{{ resource.displayname }}</h3>
      <div class="spaced">{{ resource.description }}</div>

      <div class="box box-white" *ngIf="ishee">
<pre>
{{ resource | json}}
</pre>

      </div>
      <div class="box box-white" *ngIf="!ishee">

        @if(resource.contentType === 'json') {
        <pre>{{ resource.body | json }}</pre>
        }
        @if(resource.contentType === 'text') {
        {{ resource.body }}
        }

        @if(resource.contentType === 'html') {
        <div [innerHTML]="resource.body.text"></div>
        }

        @if(resource.contentType === 'markdown') {
        {{ resource.body }}
        }
      </div>
    </div>

  }
}
