@let resources = resources$ | async;
@if (resources) {
  <!-- <pre>{{ resources | json }}</pre> -->
  <ul class="alist lbreath">
    @for (item of resources; track $index) {
      <li>
        <dm-resource-card [resource]="item" (onSelect)="select(item)" (onToggle)="toggle(item)"></dm-resource-card>
        <!-- once expanded, a new call is fired -->
        <dm-resource-list *ngIf="item.expanded" [space]="space" [resource]="item" (onSelect)="select($event)"></dm-resource-list>
      </li>
    }
  </ul>
}
