
// default set, just to get me started
// inject:icons
@icon-error: "\e907";	.icon(icon-error,@icon-error);
@icon-upright: "\e90d";	.icon(icon-upright,@icon-upright);
@icon-place: "\e900";	.icon(icon-place,@icon-place);
@icon-add: "\e90e";	.icon(icon-add,@icon-add);
@icon-close: "\e90a";	.icon(icon-close,@icon-close);
@icon-link: "\e90f";	.icon(icon-link,@icon-link);
@icon-remove: "\e901";	.icon(icon-remove,@icon-remove);
@icon-down: "\e902";	.icon(icon-down,@icon-down);
@icon-left: "\e903";	.icon(icon-left,@icon-left);
@icon-right: "\e904";	.icon(icon-right,@icon-right);
@icon-up: "\e905";	.icon(icon-up,@icon-up);
@icon-menu: "\e90b";	.icon(icon-menu,@icon-menu);
@icon-user: "\e906";	.icon(icon-user,@icon-user);
@icon-info: "\e90c";	.icon(icon-info,@icon-info);
@icon-search: "\e908";	.icon(icon-search,@icon-search);
@icon-trash: "\e909";	.icon(icon-trash,@icon-trash);

// endinject
