<div class="page">
    <div class="container">
      @let profile = profile$ | async;
      <h3 class="f3 spaced">{{ profile.username }}</h3>
      <dl class="grid g-3 spacedout g-bthin doublespaced">
        <dt>{{'Type' | translate:'Type'}}</dt>
        <dd>{{ profile.type }} <i class="liga" [class.green]="profile.forcePasswordChange">check</i> {{'Force new password' | translate:'ForceNewPassword'}}</dd>
        <dt>{{'Email' | translate:'Email'}}</dt>
        <dd>{{ profile.email }} <i class="liga" [class.green]="profile.isEmailVerified">check</i> {{'Verified' | translate:'VERIFIED'}}</dd>
        <dt>{{'Phone' | translate:'Phone'}}</dt>
        <dd>{{ profile.mobile }} <i class="liga" [class.green]="profile.isMobileVerified">check</i> {{'Verified' | translate:'VERIFIED'}}</dd>
        <dt>{{'Display name' | translate:'DisplayName'}}</dt>
        <dd>{{ profile.displayname }}</dd>
        <dt>{{'Roles' | translate:'Roles'}}</dt>
        <dd>{{ profile.roles }}</dd>

      </dl>

      <h3 class="f3 spaced">{{'Preferences' | translate:'Preferences'}}</h3>
      <dl class="grid g-3 spacedout g-bthin doublespaced">
        <dt>{{'Language' | translate:'Language'}}</dt>
        <dd>
          {{ selectedLanguage }}
          (<a [href]="changeLanguage()">switch to {{ otherLanguage.display }}</a>)</dd>
      </dl>
    </div>
</div>
